# Ignore Visual Studio temporary files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore config files containing secrets
COSCPFWA/COSCPFWA/Web.config
COSCPFWA/COSCPFWA/Web.Debug.config
data_warehouse/source_layer/DemoOLTP
COSCPFWA/COSCPFWA/ConnectionStrings.local.configdata_warehouse/source_layer
data_warehouse/source_layer/DemoOLTP/
