<connectionStrings>
	<add name="DataBaseConnectionString"
		 connectionString="server=post-office-mysql.mysql.database.azure.com;port=3306;database=postal_bi_system;uid=ryan;pwd=AzurePassword2026!;SslMode=Required;AllowPublicKeyRetrieval=True;"
		 providerName="MySql.Data.MySqlClient" />
</connectionStrings>